/*
 ==========================================================================
   SnappyData Custom Styles
 ==========================================================================
*/

.UIName {
  line-height: 2.5;
  vertical-align: middle;
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #3CA881;
}

.basic-stats {
  float: left;
  height:60px;
  padding: 5px;
  margin: 0px 5px;
  text-align: left;
  font-weight: bolder;
  line-height: 25px;
}

.basic-stats-value {
  font-size: medium;
}

.basic-stats-separator {
  height: 50px;
  border: solid 1px darkgray;
  margin: 5px 10px;
  float: left;
}

.basic-stats-container {
  margin: 10px 10px;
  display: inline-block;
  border: solid 1px darkgray;
  box-shadow: 5px 5px 5px grey;
}

.clusterHealthImageBox {
  float: left;
  width: 94px;
  border-right: thin inset;
  height: 100px;
}

.clusterHealthTextBox {
  text-align: center;
  float: left;
  width: 200px;
}

.statusTextNormal {
  color: #87B025;
}
.statusTextWarning {
  color: #FDB406;
}
.statusTextError {
  color: #FD063A;
}

.divClass2 {
}
.div-width-100 {
  width: 100px;
}
.div-width-200 {
  width: 200px;
}
.div-width-300 {
  width: 300px;
}

.progressBar {
  height: 19px;
  width: 100%;
  border-radius: 5px;
  border: thin solid #3EC0FF;
  background: #A0DFFF none repeat scroll 0 0;
}

.completedProgress {
  float: left;
  border-radius: inherit;
  background: #3EC0FF none repeat scroll 0px 0px;
}

.progressValue {
  float:right;
  /* width:20%; */
  text-align:center;
}

.caret-downward {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border: 5px solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.cellDetailsBox {
  float: left;
  padding: 0px 10px;
  display: none;
  border: 1px solid #dbd9cf;
  margin: 5px auto 2px;
  width: calc(100% - 20px);
}

.caret-upward {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border: 5px solid;
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
}

.title-node-h4 {
  vertical-align: bottom;
  display: inline-block;
}

.page-title-node-h3 {
  vertical-align: bottom;
  display: inline-block;
}

#AutoUpdateErrorMsgContainer {
  position: absolute;
  width: 100%;
}

#AutoUpdateErrorMsg {
  width: 30%;
  max-height: 60px;
  background-color: rgba(210, 56, 56, 0.16);
  border: 2px solid red;
  border-radius: 10px;
  z-index: 2;
  position: relative;
  margin: 5px auto;
  padding: 0px 10px;
  overflow: auto;
  display: none;
  text-align: center;
  font-weight: bold;
}

#CPUCoresContainer {
  position: absolute;
  width: 100%;
}

#CPUCoresDetails {
  width: 150px;
  max-height: 60px;
  background-color: #A0DFFF;
  border: 2px solid #9EBFE4;
  border-radius: 5px;
  position: relative;
  margin: 5px 50px 5px auto;
  padding: 0px 5px;
  overflow: auto;
}

#TotalCoresHolder {
  width: 150px;
  float: right;
  font-weight: bold;
  text-align: center;
}

#DistribCoresHolder {
  width: 280px;
  background-color: #B3F2FF;
  display: none;
}

.graph-container {
  width: 400px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  border: solid 1px darkgray;
  box-shadow: 5px 5px 5px grey;
}

.table-th-col-heading {
  text-align:center !important;
  vertical-align: middle !important;
  font-size: 17px;
}
