/*
 ==========================================================================
   SnappyData Custom Styles
 ==========================================================================
*/

/*
.keyStates {
  float: left;
  padding: 5px;
  margin: 5px 10px;
  border: 1px solid #DCDCDC;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  background: white none repeat scroll 0% 0%;
  overflow: visible;
  width: 100%;
  max-width: 223px;
  min-height: 100px;
}

.keyStatesLeft {
  float: left;
  padding: 5px;
  margin: 5px 10px;
  border: 1px solid #DCDCDC;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  background: white none repeat scroll 0% 0%;
  overflow: visible;
  width: 100%;
  max-width: 223px;
  min-height: 100px;
}

.keyStatesRight {
  float: left;
  padding: 5px;
  margin: 5px 10px;
  border: 1px solid #DCDCDC;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  background: white none repeat scroll 0% 0%;
  overflow: visible;
  width: 100%;
  max-width: 223px;
  min-height: 100px;
}

.keyStatsValue {
  padding-bottom: 10px;
  font-weight: bolder;
  vertical-align: middle;
  text-align: center;
  padding-top: 25px;
  font-size: 24px;
}

.keyStatesText {
  font-weight: bolder;
  min-height: 25px;
  text-align: center;
  padding: 10px;
} */

.keyStates {
  float:left;
  height:150px;
  width:150px;
  margin: 0px 20px;
}

.keyStatsValue {
  width:100%;
  height:100px;
  padding: 5px 0px;
  background: white none repeat scroll 0% 0%;
}

.keyStatesText {
  height:30px;
  min-height: 25px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
}

.clusterHealthImageBox {
  float: left;
  width: 94px;
  border-right: thin inset;
  height: 100px;
}

.clusterHealthTextBox {
  text-align: center;
  float: left;
  width: 200px;
}

.statusTextNormal {
  color: #87B025;
}
.statusTextWarning {
  color: #FDB406;
}
.statusTextError {
  color: #FD063A;
}

.divClass2 {
}
.div-width-100 {
  width: 100px;
}
.div-width-200 {
  width: 200px;
}
.div-width-300 {
  width: 300px;
}

.progressBar {
  height: 19px;
  width: 100%;
  border-radius: 5px;
  border: thin solid #3EC0FF;
  background: #A0DFFF none repeat scroll 0 0;
}
.completedProgress {
  float: left;
  border-radius: inherit;
  background: #3EC0FF none repeat scroll 0px 0px;
}
/*
.remainingProgress {
  float: left;
  border-radius: inherit;
  background: #A0DFFF none repeat scroll 0px 0px;
}*/
.progressValue {
  float:right;
  width:20%;
  text-align:center;
}

.titleNodeCount {
  font-weight: bold;
  display: inline-block;
  line-height: 20px;
  margin: 10px 0;
  font-size: 17.5px;
}
.titleNodeCount2 {
  font-weight: bold;
  display: inline-block;
  line-height: 20px;
  margin: 10px 0;
  font-size: 17.5px;
}
.cellDetailsBox {
  float: left;
  padding: 0px 10px;
  display: none;
  border: 1px solid #dbd9cf;
  margin: 5px auto 2px;
}
.caret-downward {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border: 5px solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.caret-upward {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border: 5px solid;
    border-right-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
}